<div class="border border-gray-700 bg-gray-800/50 backdrop-blur-sm rounded-lg">
      <div class="p-4 border-b border-gray-700">
        <h2 class="text-white flex items-center gap-2 text-lg font-semibold">
          <i class="material-icons text-white w-6 h-6 align-middle">{{icon}}</i>
           {{Title}}
        </h2>
      </div>
      <div class="p-4">
        <p class="text-gray-300 mb-4">
        {{Description}}
        </p>
        <button class="w-full py-2 rounded bg-gradient-to-r from-red-500 to-orange-500 hover:from-red-600 hover:to-orange-600 text-white">
          View {{Title}}
        </button>
      </div>
    </div>